<ion-header>
  <ion-toolbar>
    <ion-title>
      Paint by Sergi Jacas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard">
    <div class="dashboard__content--left">
      <canvas #canvas
        class="canvas"
        width="640"
        height="400">
      </canvas>
    </div>
    <div class="dashboard__content--right">
      <p>Undo/ Redo:</p>
      <div class="option__unredo">
        <button class="option__unredo--button" (click)="onUndo()">UNDO</button>
        <button class="option__unredo--button" (click)="onRedo()">REDO</button>
      </div>
      <p>Select a color:</p>
      <div class="option__colors">
        <button *ngFor="let color of colors"
          class="option__colors--button"
          [ngStyle]="{'background-color': color}"
          [value]="color"
          (click)="setColor($event)"></button>
      </div>
      <p>Line weight:</p>
      <div class="option__brushes">
        <button *ngFor="let brush of brushes"
          class="option__brushes--button"
          [value]="brush"
          (click)="setBrush($event)">
          <div class="option__button--brush"
            [ngStyle]="{'height': brush + 'px'}"></div>
        </button>
      </div>
    </div>
  </div>
</ion-content>
